/* ini eksternal css */
/* id 
      #judul {
        color: red;
        font-size: 50px;
      } */

/* class 
      .red {
        color: red;
      } */

/* multiple class 
      .upper {
        text-transform: uppercase;
      } */

/* selector (simple) */
/* type selector
        h1 {
            color: aqua;
        } */
/* id selector 
        #title {
            color: aqua;
        } */
/* class selector 
        .merah {
            color: red;
        } */
/* selector list 
        h1, h2, p, #merah, .title {
            color: red;
        } */
/* descendant selector ( ) 
        div p {
            color: red;
        } */
/* child selector (>) 
        div > p {
            color: red;
        } */
/* adjacent sibling selector (+) 
        div + p {
            color: red;
        } */
/* general sibling selector (~) 
        div ~ p {
            color: red;
        } */
/* attribute selector: test dengan menghapus semua, kecuali attribute selector yang ingin di test (hapus & coba 1 per 1)  */
/* [attribute] 
      a[target] {
        color: green;
      } */
/* [attribute="value"] 
      a[target="_self"] {
        color: pink;
      } */
/* [attribute~="value"] 
      p[title~="belajar"] {
        color: orange;
      } */
/* [attribute|="value"] 
      p[title|="belajar"] {
        color: yellow;
      } */
/* [attribute^="value"] 
      p[title^="belajar"] {
        color: blue;
      } */
/* [attribute$="value"] 
      p[title$="belajar"] {
        color: purple;
      } */
/* [attribute*="value"] 
      p[title*="belajar"] {
        color: brown;
      } */
/* non/id/class[attribute(symbol)="value"] 
      [title*="belajar"] {
        color: magenta;
      }
      .example[title*="belajar"] {
        color: grey;
      } */

/* color 
      h1 {
        color: rgb(175, 34, 53);
      }

      h2 {
        color: hsl(225, 82%, 44%);
      }

      p {
        color: #10981d;
      } */

/* text 
      h1 {
        text-align: justify;
        text-indent: 50px;
        letter-spacing: 2px;
        line-height: 30px;
        word-spacing: 25px;
      }

      p {
        color: red;
        text-transform: uppercase;
        text-decoration-line: underline;
        text-decoration-color: blue;
        text-decoration-thickness: 5px;
        text-decoration-style: solid;
        text-shadow: 2px 2px 2px black;
      } */

/* font 
      h1 {
        font-family: "Agbalumo";
        font-style: italic;
        font-weight: bolder;
        font-size: 50px;
      }
      
      p {
        font-family: "Agbalumo";
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
      } */

/* background 
      body {
        background-color: pink;
      }

      p {
        text-align: justify;
        background-color: magenta;
      } */

/* box model 
      body {
        padding: 0;
        margin: 0;
      }
      div {
        padding: 0;
        margin: 0;
        background-color: pink;
      }
      p {
        padding: 0;
        margin: 0;
        text-align: justify;
      }
      .artikel1 {
        height: 200px;
        width: 200px;
        overflow: auto;        
        background-color: aqua;
        padding: 10px 20px 10px 20px;
        margin: 10px 10px 10px 10px;
        border-style: solid;
        border-width: 2px;
        border-radius: 20px 0 20px 0;
        opacity: 0.75;
      }
      .artikel2 {
        height: 150px;
        width: 300px;
        padding: 20px;
        margin: 10px 10px 10px 10px;
        border-left-style: solid;
        border-left-width: 2px;
        border-right-style: solid;
        border-right-width: 2px;
        border-radius: 20px 0 20px 0;
      } */

/* min max size 
      div {
        background-color: lightblue;
        width: 75%;
        min-width: 200px;
        max-width: 500px;
      } */

/* outline 
      body {
        padding: 0;
        margin: 0;
      }
      div {
        padding: 0;
        margin: 0;
        background-color: pink;
      }
      p {
        padding: 0;
        margin: 0;
        text-align: justify;
      }
      .artikel1 {
        height: 200px;
        width: 200px;
        overflow: auto;        
        background-color: aqua;
        padding: 10px 20px 10px 20px;
        margin: 10px 10px 10px 10px;
        outline-style: solid;
        outline-width: 5px;
        border-radius: 25px;
        outline-color: red;
      }
      .artikel2 {
        height: 150px;
        width: 300px;
        padding: 20px;
        margin: 10px 10px 10px 10px;
        border-left-style: solid;
        border-left-width: 2px;
        border-right-style: solid;
        border-right-width: 2px;
        border-radius: 20px 0 20px 0;
      } */

/* background-image 
      .konten {
        background-image: url("images/pattern.png");
        background-image: linear-gradient(
          0deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(193, 17, 81, 1) 23%,
          rgba(119, 1, 226, 1) 52%,
          rgba(217, 242, 55, 1) 78%,
          rgba(0, 212, 255, 1) 100%
        );
        padding: 20px 10px;
        width: 100%;
        height: 500px;
        background-repeat: repeat-x;
        background-size: 100px 100px;
      } */

/* writing-mode 
      body {
          padding: 0px;
          margin: 0px;
      }
      div {
          padding: 0px;
          margin: 0px;
          background-color: pink;
      }
      p {
          padding: 0px;
          margin: 0px;
          text-align: justify;
      }
      .artikel1 {
          height: 200px;
          background-color: aqua;
          width: 200px;
          padding: 10px 20px 10px 20px;
          margin: 10px 10px 10px 10px;
          border-style: solid;
          border-width: 2px;
          border-radius: 20px 0px 20px 0px;
          writing-mode: vertical-rl;
      }
      .artikel2 {
          height: 150px;
          width: 300px;
          padding: 20px;
          margin: 10px 10px 10px 10px;
          border-left-style: solid;
          border-left-width: 2px;
          border-right-style: solid;
          border-right-width: 2px;
          border-radius: 20px 0px 20px 0px;
      } */

/* overflow 
      body {
          padding: 0px;
          margin: 0px;
      }
      div {
          padding: 0px;
          margin: 0px;
          background-color: pink;
      }
      p {
          padding: 0px;
          margin: 0px;
          text-align: justify;
      }
      .artikel1 {
          height: 200px;
          background-color: aqua;
          width: 200px;
          padding: 10px 20px 10px 20px;
          margin: 10px 10px 10px 10px;
          border-style: solid;
          border-width: 2px;
          border-radius: 20px 0px 20px 0px;
          overflow: auto;
      }
      .artikel2 {
          height: 150px;
          width: 300px;
          padding: 20px;
          margin: 10px 10px 10px 10px;
          border-left-style: solid;
          border-left-width: 2px;
          border-right-style: solid;
          border-right-width: 2px;
          border-radius: 20px 0px 20px 0px;
          overflow: hidden;
      } */

/* link 
      a {
        background-color: white;
        border-style: solid;
        border-radius: 10px;
        border-color: blue;
        color: blue;
        padding: 10px;
        text-decoration: none;
        font-family: sans-serif;
      }
      a:visited {
        color: black;
        border-color: black;
      }
      a:hover {
        color: whitesmoke;
        background-color: brown;
      }
      div {
        margin-top: 50px;
      } */

/* list 
      .daftar {
        list-style-type: "\1F44D";
        list-style-position: inside;
      } */

/* table 
    table, tr, th, td {
        border-style: solid;
        border-width: 2px;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
    }
    th {
        text-align: left;
    }
    td {
        text-align: center;
    }
    tr:hover {
         background-color: lightpink;
    }
    .ganjil {
        background-color: purple;
    }
    .genap {
        background-color: grey;        
    }
    table {
        width: 200px;
        height: 200px;
    } */

/* form 
    input {
        margin: 10px;
    }
    input:required {
        color: red;
    }
    #username, #password {
        border-style: solid;
        border-color: black;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
    }
    #username:focus, #password:focus {
        background-color: black;
    }
    #login {
        border-style: solid;
        border-color: black;
        border-radius: 10px;
        padding: 10px;
        background-color: white;
    }
    #login:hover {
        background-color: black;
        color: white;
    } */

/* content 
    .konten {
        content: "TEST!";
    }
    .konten::before {
        content: "ucup ";
    }
    .konten::after {
        content: " ucup";
    } */

/* counter 
        body {
            counter-set: judul 0;
            counter-set: subjudul 0;
        }

        h1 {
            counter-increment: judul 1;
            counter-reset: subjudul;
        }

        h2 {
            counter-increment: subjudul 1;
        }

        h1::before {
            content: counter(judul) ". ";
        }

        h2::before {
            content: counter(judul) "." counter(subjudul) ". ";
        } */

/* filter 
        img {
            width: 500px;
            filter: blur(10px)
        }

        p {
            filter: blur(2px)
        } */

/* import 
@import url(hello.css); */

/* cascade: pakai hello.css, cek di index.html */

/* layer */

/* Css Layout Starts Here */
/* Normal Flow 
body {
  width: 500px;
}

p {
  background-color: blue;
  border: 2px solid lightskyblue;
} */

/* Display 
.content {
  background-color: aqua;
  display: inline-block;
  width: 200px;
  height: auto;
  padding: 10px;
  margin: 10px;
} */

/* flexbox 
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}
.content {
  width: 200px;
  background-color: aqua;
  border: 2px solid blue;
  margin: 10px;
  padding: 10px;
} */

/* flex grow 
.container {
  display: flex;
  flex-direction: row;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
}
.small {
  flex-grow: 1;
}
.large {
   flex-grow: 2;
} */

/* flex shrink 
.container {
  display: flex;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
}
.content1 {
  flex-shrink: 1;
}

.content2 {
  flex-shrink: 2;
}

.content3 {
  flex-shrink: 1;
} */

/* flex basis 
.container {
  display: flex;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 5px;
  margin: 5px;
}
.content1 {
  flex-basis: 300px;
  flex-shrink: 0;
} */

/* flex alignment: justify-content 
.container {
  background-color: yellow;
  display: flex;
  height: 500px;
  justify-content: center;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 200px;
} */

/* flex alignment align-items 
.container {
  background-color: yellow;
  display: flex;
  height: 500px;
  align-items: flex-end;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 200px;
} */

/* flex alignment align-content 
.container {
  background-color: yellow;
  display: flex;
  height: 1200px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.content {
  background-color: aqua;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
  height: auto;
  width: 200px;
} */

/* flex alignment gap 
.container {
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  row-gap: 10px; comment
  column-gap: 20px; comment
  padding: 10px;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 10px;
  width: 200px;
} */

/* grid 
.container {
  display: grid;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;  
} */

/* grid template 
.container {
  display: flex;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 500px auto;
}
.content {
  background-color: aqua;
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
} */

/* grid line name, grid item start, grid item end 
.container {
  display: grid;
  grid-template-columns: [cline1] 100px [cline2] auto [cline3] 100px [cline4];
  grid-template-rows: [rline1] 50px [rline2] auto [rline3] 100px [rline4];
}
.header {
  background-color: aqua;
  grid-column-start: cline1;
  grid-column-end: cline4;
  grid-row-start: rline1;
  grid-row-end: rline1;
}
.content {
  background-color: bisque;
  grid-area: content;
  grid-column-start: cline2;
  grid-column-end: cline3;
  grid-row-start: rline2;
  grid-row-end: rline3;
}
.footer {
  background-color: aqua;
  grid-column-start: cline1;
  grid-column-end: cline4;
  grid-row-start: rline3;
  grid-row-end: rline4;
} */

/* grid template area 
.container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px auto 100px;
  grid-template-areas: 
    "header header header"
    ". content ."
    "footer footer footer"
  ;
}
.header {
  background-color: aqua;
  grid-area: header;
}
.content {
  background-color: bisque;
  grid-area: content;
}
.footer {
  background-color: aqua;
  grid-area: footer;
} */

/* grid alignment: justify content 
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-content: space-evenly;
}
.content {
  background-color: bisque;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
} */

/* grid alignment: align content 
.container {
  background-color: aqua;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  align-content: space-evenly;
}
.content {
  background-color: bisque;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
} */

/* grid alignment: justify items 
.container {
  background-color: aqua;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  justify-items: center;
}
.content {
  background-color: bisque;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
} */

/* grid alignment: align items 
.container {
  background-color: aqua;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  align-items: center;
}
.content {
  background-color: bisque;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
} */

/* grid alignment: justify self & align self 
.container {
  background-color: aqua;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.content {
  background-color: bisque;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
} 
.content1 {
  justify-self: center;
  align-self: center;
} */

/* grid alignment: gap 
.container {
  background-color: aqua;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
}
.content {
  background-color: bisque;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
} */

/* nested grid 
.container {
  background-color: aqua;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}
.content1 {
  display: grid;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  background-color: bisque;
  border: 1px solid black;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.inner {
  background-color: brown;
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
} */

/* subgrid 
.container {
  background-color: aqua;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}
.content1 {
  display: grid;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
  background-color: bisque;
  border: 1px solid black;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
.inner {
  background-color: brown;
  border: 1px solid black;
  grid-column: 2 / 5;
  grid-row: 2 / 5;
} */

/* multiple column & style column 
.container {
  column-count: 3;
  column-gap: 20px;
  column-rule: 3px solid black;
} */

/* float 
.container {
  background-color: aqua;
}
.image {
  float: right;
  width: 200px;
  height: 200px;
  background-color: pink;
  text-align: center;
} */

/* positioning: relative, absolute, absolute with z-index, fixed, sticky 
content {
  background-color: aqua;
  width: 200px;
  height: 200px;
  display: inline-block;
}
.content2 {
  background-color: pink;
  position: relative; */
/* position: absolute;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: -1;
}
.sticky {
  background-color: magenta;
  position: sticky;
  top: 20px;
  z-index: 1;
} */

/* fraction unit 
.container {
  display: grid;
  grid-template-columns: 200px repeat(4, 1fr);
  column-gap: 10px;
}
.sidebar {
  background-color: pink;
}
.content {
  background-color: aqua;
} */

/* media query 
@media all {
  .container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
  }
  .content {
    background-color: red;
  }
}

@media screen and (min-width: 10px) and (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }  
}

@media screen and (min-width: 500px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
} */

/* display none 
.menubar {
  display: inline-block;
}
.menu {
  background-color: aqua;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.menulist {
  display: none;
  position: absolute;
  background-color: aqua;
  z-index: 1;
}
.menulist a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.menulist a:hover {
  background-color: bisque;
}
.menubar:hover .menu {
  background-color: bisque;
}
.menubar:hover .menulist {
  display: block;
} */