h1 {
    color: red;
    background-color: maroon;
    font-weight: 100;
    text-decoration: underline red;
    /* font-size: small; */
}

button {
    color: navy;
    background-color: lightblue;
}

p {
    color: white;
    background-color: gray;
    text-align: center;
    line-height: 1.5;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    color: white;
}